/*
  Handles styling for REPL and submit button
*/

.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-table {
  font-family: "Dancing Script";
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-collapse: collapse;
  width: 40%;
  /* background-color: #ffd1f6; */
}

.repl-row {
  font-family: "Dancing Script";
  border: 2px solid #dddddd;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
  border-color: #dddddd;
}
.repl-element {
  font-family: "Dancing Script";
  border: 2px solid #dddddd;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
}

.repl-input {
  font-family: "Dancing Script";
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  font-family: "Dancing Script";
  width: 90%;
  margin: auto;
  display: block;
}
.submitButton {
  margin: auto;
  margin-top: 5px;
  display: block;
}
